<org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@183.va_de8f1dd5a_2b_">
  <scope>GLOBAL</scope>
  <id>{{ secret_id }}</id>
  <description></description>
  <secret>{{ secret }}</secret>
</org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>