# Local .terraform directories and files
**/.terraform/*
.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars

# sa key.json
key.json

# registry
*registry_token
*registry_id

# ansible hosts
*hosts.yml

# kubectl settings
*kube_config
*ca.pem